@model Langben.App.Models.LawCase

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>LawCase</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CaseNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CaseNumber)
                    @Html.ValidationMessageFor(model => model.CaseNumber)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CaseInfo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CaseInfo)
                    @Html.ValidationMessageFor(model => model.CaseInfo)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ExistingAppraisal, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExistingAppraisal)
                    @Html.ValidationMessageFor(model => model.ExistingAppraisal)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.HappenedTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HappenedTime)
                    @Html.ValidationMessageFor(model => model.HappenedTime)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remark)
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateUserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateUserName)
                    @Html.ValidationMessageFor(model => model.CreateUserName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate)
                    @Html.ValidationMessageFor(model => model.CreateDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ModifyUserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifyUserName)
                    @Html.ValidationMessageFor(model => model.ModifyUserName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifyDate)
                    @Html.ValidationMessageFor(model => model.ModifyDate)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
